
[data-bs-theme="dark"] {
    /* --body-bg: $gray-900;
    --selected-bg: #343a40;
    --darkened-bg: #3f464d; */
    --primary: #264b5d;
    --primary-fg: #f7f7f7;

    --body-fg: #eeeeee;
    --body-bg: #212529;
    --body-quiet-color: #e0e0e0;
    --body-loud-color: #ffffff;

    --breadcrumbs-link-fg: #e0e0e0;
    --breadcrumbs-bg: var(--primary);

    --link-fg: #81d4fa;
    --link-hover-color: #4ac1f7;
    --link-selected-fg: #6f94c6;

    --hairline-color: #272727;
    --border-color: #353535;

    --error-fg: #e35f5f;
    --message-success-bg: #006b1b;
    --message-warning-bg: #583305;
    --message-error-bg: #570808;

    --darkened-bg: #343a40;
    --selected-bg: #6f94c6;
    --selected-row: #6f94c6;

    --close-button-bg: #333333;
    --close-button-hover-bg: #666666;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}
.container-light{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.container-dark{
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}