{% extends 'base.html' %}
{% load static %}
{% block title %}Company Page{%endblock%}

{% block content %}
<style>
    .banner {
        background-color: rgba(67, 170, 255, 0.603);
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
    }

    table {
        display: block;
        height: 96vh;
        overflow-y: scroll;
    }
</style>
<div class="banner">
    <h1>{{ company_name }} Dashboard</h1>
</div>
<br>
<div class="container">

    <form class="row align-items-start">
        <div class="col-8">

            <input type="text" id="search-box" class="form-control" placeholder="Search for Specific Products..."
                aria-label="Recipient's username with two button addons">
        </div>
        <div class="col-2 ms-auto">
            <a class="btn btn-primary" type="button" href="{% url 'Ingredients' company_name %}">Add Products from
                FDC</a>
        </div>
    </form>

    <div class="row mt-2">
        <div class="col-sm-8">
            <div class="card h-96 overflow-auto">
                <div class="card-header">
                    Current Products
                </div>
                <table class="table table-hover table-borderless">
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td style="width: fit-content"><a href="{% url 'update' 'product' product.id %}">Update</a>
                                <br> <a href="{% url 'delete' 'product' product.id %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-96">
                <div class="card-header">
                    Create New Product
                </div>
                <div class="card-body">

                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Create Product">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<!-- Black magic that allows the select multiple to work nicely -->
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}

<script>

    const searchBox = document.getElementById('search-box');
    const productRows = document.querySelectorAll('.product-row');

    searchBox.addEventListener('change', () => {
        const searchTerm = searchBox.value.toLowerCase(); // Get and lowercase search term

        productRows.forEach(row => {
            const productName = row.querySelector('td').textContent.toLowerCase(); // Get and lowercase product name
            const match = productName.includes(searchTerm); // Check for match

            row.style.display = match ? 'table-row' : 'none'; // Show/hide based on match
        });
    });

    (function ($) {
        $('#add-form').click(function () {
            var index = $('#id_inline_test_models-TOTAL_FORMS').val()
            var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
            newTable.find(':input').each(function () {
                for (attr of ['name', 'id'])
                    $(this).attr(
                        attr,
                        $(this).attr(attr).replace('__prefix__', index)
                    )
            })
            newTable.insertBefore($(this))
            $('#id_inline_test_models-TOTAL_FORMS').val(
                parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
            )
            newTable.slideDown()
        })
    })($)
</script>
{% endblock %}