{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock %}
{% block title %}Company Selection{% endblock %}

{% block content %}

<div class="container container-{{ user_color_mode }}">
    <div class="d-grid gap-4">
        {% if valid_companies %}
        {% for company_object in valid_companies %}
        <a class="btn btn-primary" type="button" href="{% url 'company' company_object.name %}">
            {{ company_object.name }}</a>
        {% endfor %}
        {% else %}
        <h1>No companies found, contact your sys admin or register a new company</h1>
        <a class="btn btn-primary" type="button" href="{% url 'create_company' %}">Register a Company</a>
        {% endif %}
        <h5>Add another company</h5>
        <a class="btn btn-primary" type="button" href="{% url 'create_company' %}">Register a Company</a>
    </div>
</div>
{% endblock %}