{% extends 'base.html' %}
{% load static %}
{% block title %}Company Page{%endblock%}

{% block content %}
<style>
    .banner {
        background-color: rgb(0, 140, 255);
        color: white;
        padding: 20px;
        margin-bottom: 20px;
    }
</style>
<div class="banner">
    <h1>Welcome, Google!</h1>
</div>
<div class="container">

    <p>You can create your products here:</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

    <form method="post" action="{% url 'company' %}">
        {% csrf_token %}
        <label for="ingredient">Product Name:</label>
        <input type="text" id="ingredient" name="ingredient" required><br><br>

        <label for="ingredients">Ingredients:</label>
        <input type="file" id="ingredients" name="ingredients" required><br><br>

        <label for="warnings">Warnings:</label>
        <input type="text" id="warnings" name="warnings"><br><br>

        <label for="content">Note Content:</label><br>
        <textarea id="content" name="content" rows="5" required></textarea><br><br>

        <button type="submit">Create Product</button>
    </form>
</div>
{% endblock %}