{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock %}
{% block title %}Create a Company{% endblock %}

{% block content %}

<form action="{% url 'create_company' %}" method="post">
    {% csrf_token %}
    <div class="container" align="center">
        <h1>Register your company!</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Create Company" />
        </form>
    </div>
</form>

{% endblock %}