{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock %}
{% block title %}Select a Company{% endblock %}

{% block content %}

<div class="container">
    <div class="d-grid gap-4">
        {% for company_object in valid_companies %}
        <a class="btn btn-primary" type="button" href="{% url 'company' company_object.name %}">
            {{ company_object.name }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}