{% extends 'base.html' %}
{% block title%}Home{% endblock%}
{%load static%}

{% block content %}
<main role="main">

  <div class="row">
    <div class="col-md-6">
      <div class="container mt-5">
        <h1>Welcome to Ingredient Intel</h1>
        <p>Helping you make more informed choices</p>
        <form action="{% url 'sign_up' %}">
          <button type="submit" class="btn btn-primary">Get Started Today</button>
        </form>
        <br>
        <form method="post" enctype="multipart/form-data" action="{% url 'scan_barcode' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Scan Barcode</button>
        </form>
      </div>

    </div>
    <div class="col-md-6">
      <img src="{% static 'images/happy_earth.png' %}" alt="A happy healthy earth">
    </div>
  </div>

  {% endblock %}