{% extends 'base.html' %}
{% block title%}Home{% endblock%}
{%load static%}

{% block content %}
<style>
  body {
    background-image: url("{% static 'images/IndexBG.jpg' %}");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 500px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: auto;
    /* Resize the background image to cover the entire container */
  }
</style>
<br><br>
<div class="container p-5 bg-light" style="--bs-bg-opacity: .6;">

  <div class="row justify-content-center">
    <div class="col-md-12">
      <figure>
        <blockquote class="blockquote">
          <h1 class="display-1">Welcome to Ingredient Intel</h1>
        </blockquote>
        <figcaption class="blockquote-footer fs-5">
          Helping you make more informed choices with what you eat
        </figcaption>
      </figure>

      <p class="fs-4">If you have ever wondered what all the confusing ingredients on products you buy are and what they are for we
        are here to help. If you have allergies and are tired of meticulously scanning every product
        for allergens we are here to help. Even if you are just curious about products, companies, or ingredients we are
        here to help. With the use of Ingredient Intel you get answers to your nutritional questions and
        curiosities with a speed and accuracy found nowhere else.
      </p>

      <div class="d-grid">
        <a href="{% url 'sign_up' %}" type="submit" class="btn btn-primary btn-lg">Get Started Today</a>
      </div>


    </div>
  </div>
</div>
{% endblock %}