<!Doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <strong>List of ingredients</strong>
  {% for item in response %}
    <p>
      <strong>Description:</strong> {{ item.description }}<br>
      <strong>GTIN UPC:</strong> {{ item.gtinUpc }}<br>
      <strong>Brand Owner:</strong> {{ item.brandOwner }}
    </p>
    {% if forloop.last %}  <br>
    {% endif %}
  {% endfor %}
</body>
</html>