{% extends 'base.html' %}
{%block title%}Login{%endblock%}

{% block content%}
<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="container mt-5">
        <h1 align="center">User Login</h1>
        <br>

        <div class="container" align="center">
            <label for="uname">Username:</label>
            <input type="username" placeholder="Enter Username" name="username" required><br>
            <br>

            <label for="password">Password:</label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <br>
            <br>

            <button type="submit" class="btn btn-primary ms-2">Login</a>  
        </div>

    </div>
    <p align="center">

    </p>
</form>
<p align = "center"> Don't have an account? <a href = "{% url 'sign_up' %}" >Sign up here </a> </p>
{%endblock%}