{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock %}
{%block title%}Login{%endblock%}

{% block content%}
<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="container">
        <h1 align="center">User Login</h1>
        <br>


        <label for="uname">Username:</label>
        <input class="centerform" type="username" placeholder="Enter Username" name="username" required><br>
        <br>

        <label for="password">Password:</label>
        <input class="centerform" type="password" placeholder="Enter Password" name="password" required>
        <br>
        <br>

        <input type="submit" value="Login">


    </div>

</form>
<p align="center"> Don't have an account? <a href="{% url 'sign_up' %}">Sign up here </a> </p>
{%endblock%}