{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock %}
{%block title%}Researcher Login{%endblock%}

{% block content%}

<form method="post" action="{% url 'researcher_login' %}">
    {% csrf_token %}
    <div class="container">
        <h1 align="center">Researcher Login</h1>
        <br>
        <label for="username">Username:</label>
        <input class="centerform" type="username" placeholder="Enter Username" name="username" required><br>
        <br>
        <label for="password">Password:</label>
        <input class="centerform" type="password" placeholder="Enter Password" name="password" required>
        <br>
        <br>
        <input type="submit" value="Login">
    </div>

</form>

<p align="center"> Not registered as a researcher? <a href="{% url 'researcher_signup' %}">Sign up here </a> </p>


{%endblock%}