{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock %}
{% block title %}Signup as a Researcher{% endblock %}

{% block content %}

<form action="{% url 'researcher_signup' %}" method="post">
    {% csrf_token %}
    <div class="container" align="center">
        <h1>Register as a Researcher</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Create Researcher" />
        </form>
    </div>
</form>

{% endblock %}