{% extends 'base.html' %}
{% block title %}Scan Barcode{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Scan Barcode</h1>
    <p>Upload an image containing the barcode you want to scan:</p>
    <!-- used to go to search page, and was a post request -->
    <form method="post" enctype="multipart/form-data" action="{% url 'result_page' %}">
        {% csrf_token %}
        <input type="image" name="barcode_image">
        <button type="submit" class="btn btn-primary">Scan Barcode</button>
    </form>
</div>
{% endblock %}
