{% extends 'base.html' %}
{% block title %}Scan Barcode{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Scan Barcode</h1>
    <p>Upload an image containing the barcode you want to scan:</p>
    <!-- used to go to search page, and was a post request. action="{ url 'result_page' model  }" -->

      
    <form class="input-group mb-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.image }}
        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Submit</button>
    </form>

</div>
{% endblock %}
