{% extends 'base.html' %}
{% block title %}Scan Barcode{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Scan Barcode</h1>
    <p>Upload an image containing the barcode you want to scan:</p>
    <!-- used to go to search page, and was a post request. action="{ url 'result_page' model  }" -->
    <form method="get" enctype="multipart/form-data" action="{% url 'result_page/Product/1' %}">{{ result.name }}
        {% csrf_token %}
        <input type="image" name="barcode">
        <td>{{ barcode.query }}</td>
        <button type="submit" class="btn btn-primary">Scan Barcode</button>
    </form>
</div>
{% endblock %}
