{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'user_settings.css' %}">

{% endblock %}
{% block title %}Settings{%endblock%}

{% block content %}

    <form method="post" action="">
        {% csrf_token %}
    <div class="container mt-5">
        <h1>Settings</h1>

        <table class="table">
            <thead>
                <tr>
                    <td><label for="display_mode"></label>Color Scheme:</td>
                    <td>{{ settings.display_mode }}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label for="diet_mode"></label>Diet Restrictions:</td>
                    <td>{{ settings.diet_mode }}</td>
                </tr>

                <tr>
                    <td><label for="new_name"></label>New Name:</td>
                    <td>{{ settings.new_name }}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <p align="center">
        <a href="{% url 'home' %}" type="submit" class="btn btn-primary ms-2">Save</a>
    </p>
    </form>

    
{%endblock%}