{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{%endblock%}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock %}
{% block content %}
<form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    <div class="container" align = "center">
        <h1>Sign Up for Ingredient Intel</h1>
        

            <label for="username">Username</label>
            <input class="centerform" type="text" id="username" name="username" placeholder="Enter your username" required><br>
            <br>
            <label for="email">Email Address</label>
            <input class="centerform" type="email" id="email" name="email" placeholder="Enter your email address" required><br>
            <br>
            <label for="password">Password</label>
            <input class="centerform" type="password" id="password" name="password" placeholder="Enter your password" required><br>
            <br>
            <label for = "main_use">What do you mainly use this for?</label>
            <select id = "use">
                <option value="blank"> Choose one</option>
                <option value = "Researcher"> Researcher </option>
                <option value = "Company"> Company </option>
                <option value = "Individual user"> Individual</option>
            </select>
            <br>
            <br>
            <input type="submit" value="Sign Up">


        
    </div>
</form>
</body>
</html>
{%endblock%}